@model ex.Models.ProductCategoryModel
<!-- Start Slider -->
<section class="hero">    
    <div class="hero__slider owl-carousel">
        @foreach (var item in Model.listSlider)
        {
            <div class="hero__items set-bg" data-setbg="Content/img/hero/@item.Img">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>@item.Name</h6>
                                <h2>@item.ShortDesc</h2>
                                <p>
                                    @item.FullDecription
                                </p>
                                <a href="@Url.Action("AllProduct", "Product")" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }  
    </div>
</section>
<!-- End Slider -->