@model ex.Models.NewsDetailModel
@{
    ViewBag.Title = "AllNews";
}


@foreach (var item in Model.ListNews)
{
<section class="blog-hero spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="blog__hero__text">
                    <h2><a href="@Url.Action("NewsDetail", "News", new { Id = item.Id }, null)"> @item.Name</a></h2>
                    <ul>
                        <li>By @item.UploadBy</li>
                        <li>@item.UploadTime</li>
                        <li>8 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="blog-details spad">
         <div class="container">
            <div class="row d-flex justify-content-center">
               <div class="col-lg-12">
                  <div class="blog__details__pic">
                     <img src="/Content/img/blog/@item.Image" alt="">
                  </div>
               </div>
            </div>
         </div>
      </section>
}

